<div class="card">
  <div class="card-block">
    {{favorite-button favorited=isFavorited onclick=(action "favorite")}}
    <h6 class="card-subtitle mb-2">{{article.article.geo_facet.firstObject}}</h6>

    <a href="{{article.article.url}}">
      <h4 class="card-title c nounderline"> {{article.article.title}} </h4>
    </a>

    <h6 class="card-subtitle mb-2">{{format-date article.article.published_date}} </h6>

  </div>
</div>

{{outlet}}
