<div class="card-block">

  {{favorite-button
          favorited=isFavorited
          onclick=(action "favorite")
          }}

  <h6 class="card-subtitle mb-2">
              {{article.des_facet.firstObject}}
            </h6>


  <a href="{{article.url}}">
    <h4 class="card-title c nounderline">{{article.title}} </h4>
  </a>
  <h6 class="card-subtitle mb-2">{{format-date article.published_date}}  </h6>

  <br>
  <p class="card-text">{{article.abstract}}</p>


</div>



{{yield}}
